#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-image: url('https://www.bhmpics.com/downloads/pokemon-team-rocket-Wallpapers/9.54120-team-rocket-jessie-pokmon-meowth-pokmon-james.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  
}


