#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-image: url('https://www.bhmpics.com/downloads/pokemon-team-rocket-Wallpapers/9.54120-team-rocket-jessie-pokmon-meowth-pokmon-james.jpg');
  background-size: 110%;
  background-repeat: no-repeat;
 
}
.custom-button {
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
  margin: 5px;
  background-image: url('https://i.ebayimg.com/images/g/0p4AAOSw6wNkXU4a/s-l1200.webp');
  background-size: 100%;
  background-repeat: no-repeat; 
  border: none; 
  font-size: 15px;
  cursor: pointer; /* Mutató kurzor beállítása */
}

.custom-button:hover {
  transform: scale(1.1); 
}


.custom-container {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;   
}

.enemy-container{
  top: 20px;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;   
}
.enemycard{
  margin-left: 30px;
  font-weight: bold;
  max-width: 230px;
  border: 10px solid rgb(9, 76, 3);
  border-radius: 50px;
  width: 100%;
  background-color: rgb(240, 222, 121);
}
h4 {
  color: red;
}

.friend-container{
  top: 80px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;   
}
.friendcard{
  
  margin-left: 60px;
  font-weight: bold;
  max-width: 230px;
  border: 10px solid rgb(22, 125, 228);
  border-radius: 50px;
  width: 100%;
  background-color: rgb(240, 222, 121);

}

.backbtn{
  position: fixed;
  right: 100px;
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
  margin: 5px;
  background-image: url('https://cdn-icons-png.flaticon.com/512/60/60577.png');
  background-size: 100%;
  background-repeat: no-repeat; 
  border: none; 
  font-size: 15px;
  cursor: pointer; /* Mutató kurzor beállítása */
}
